* {
	margin: 0;
	padding: 0;
}
html {
    background: url("images/bg.jpg") top center no-repeat; 
    height: 100%;
	background-color:#00000e;
}
body {
	font: 10px/18px Verdana,Arial,Helvetica,sans-serif;
	width: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 1110px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 350px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 270px;
}
.content2 {
	background-image:url(images/line_111.png);
	background-repeat:repeat-y;
	width:524px;
	min-height:640px;
	position:relative;
	left:18px;
	top:57px;
	z-index:1;
}
.content3 {
	background-image:url(images/bg3.jpg);
	background-repeat:no-repeat;
	background-color:#fedf9b;
	width:464px;
	min-height:630px;
	position:relative;
	left:30px;
}
.content4 {
	background-image:url(images/v1.png);
	width:810px;
	height:153px;
	position:absolute;
	top:-73px;
	left:-56px;
}
.f2-2 {
	width:150px;
	height:18px;
	padding-left:600px;
	padding-top:90px;
}
.f2-2 a {
	 display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
}
.content5 {
	background-image:url(images/n1.png);
	background-repeat:no-repeat;
	position:relative;
	left:-44px;
	bottom:6px;
	width:644px;
	height:151px;
	z-index:2;
	text-align:center;
	color:#BD8F22;
	padding-top:65px;
}
.contentEnd {
	width:444px;
	position:relative;
	left:10px;
	top:30px;
	color:#8C6242;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	min-height:810px;
	margin-left: -100%;
	position: relative;
}
.sideLeft2 {
	background-image:url(images/bg4.jpg);
	background-repeat:no-repeat;
	background-color:#302825;
	width:245px;
	position:relative;
	left:55px;
	top:174px;
}
.sideLeft3 {
	background-image:url(images/line_12.png);
	background-repeat:repeat-y;
	position:relative;
	width:12px;
	min-height:410px;
	left:-12px;
}
.sideLeft4 {
	background-image:url(images/lb2.png);
	background-repeat:no-repeat;
	width:290px;
	height:78px;
	position:absolute;
	top:-55px;
	left:-30px;
}
.sideLeft5 {
	background-image:url(images/lb3.png);
	background-repeat:no-repeat;
	width:269px;
	height:67px;
	position:absolute;
	left:-9px;
	bottom:-37px;
}
.cLeft {
	padding:10px 15px 15px 20px;
	width:230px;
	color: white;
    font-family: verdana,sans-serif,arial;
    font-size: 7.5pt;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	min-height:810px;
}
.sideRight2 {
	background-image:url(images/bg4.jpg);
	background-repeat:no-repeat;
	background-color:#302825;
	width:245px;
	position:relative;
	top:158px;
	right:59px;
}
.sideRight3 {
	background-image:url(images/line_22.png);
	background-repeat:repeat-y;
	position:relative;
	width:12px;
	min-height:421px;
	left:245px;
}
.sideRight4 {
	background-image:url(images/reg.png);
	width:298px;
	height:162px;
	position:relative;
	right:256px;
	top:-45px;
}
.sideRight5 {
	background-image:url(images/rn.png);
	width:286px;
	height:74px;
	background-repeat:no-repeat;
	position:absolute;
	bottom:-44px;
	right:-19px;
}
.sideRight6 {
	width:220px;
	position:relative;
	right:240px;
	top:-43px;
	padding:10px;
	color:#BD8F22;
	font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
	font-size: 11px;
}
	


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 10px;
}